<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450689718837-ckhcfju5t02158s1ngv2dcok69prfd16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450689718837-ckhcfju5t02158s1ngv2dcok69prfd16</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Rx5TvF93yI6mvodw5gnIW8ASknV24TA</string>
	<key>GCM_SENDER_ID</key>
	<string>450689718837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatwithme</string>
	<key>PROJECT_ID</key>
	<string>chat-with-me-109f6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-with-me-109f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450689718837:ios:6b54781e0ead500cf26f7c</string>
</dict>
</plist>